section {
    margin-top: 70px;
}

.detail {
    display: grid;
    width: 80%;
    margin: auto;
    text-align: center;
    grid-gap: 5px;
}

.contact {
    height: 50px;
    padding: 10px;
    background-color: rgba(1, 0, 0, 0.4);
    color: var(--main-color);
    font-size: 110%;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.contact:hover {
    background-color: rgba(1, 0, 0, 0.6);
}

@media screen and (max-width:698px) {
    section {
        margin-top: 100px;
    }
}

@media screen and (max-width:444px) {
    .detail {
        width: 95%;
    }
    .contact {
        font-size: 90%;
    }
    .contact {
        height: 40px;
    }
}