.heading {
    margin-top: 60px;
}

.project {
    display: grid;
    grid-template-rows: 70% auto;
    /* height: 18VH; */
    width: 95%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 6px;
    padding: 2px;
    cursor: pointer;
    background-color: rgba(1, 0, 0, 0.4);
}

.project:hover {
    background-color: rgba(1, 0, 0, 0.6);
}

.grid_item {
    height: 5VH;
}

.project_heading {
    color: var(--main-color--2);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4em;
}

.project_link_div {
    text-align: center;
    padding-top: 1px;
}

.project_link {
    color: rgb(211, 210, 200);
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    text-decoration: none;
}

.project_link:hover {
    font-weight: bolder;
}

@media screen and (max-width:698px) {
    .heading {
        margin-top: 120px;
    }
}

@media screen and (max-width:400px) {
    .project_heading {
        font-size: 1.1em;
    }
    .project_link {
        font-size: 1em;
    }
}